body{
background:#f9d342;
}

.ib{
            position: absolute;
        	top: 5%;
        	left: 80px;
        	width: 70%;
        	padding: 40px;
        	background: rgba(0,0,0,.5);
        	box-sizing: border-box;
        	box-shadow: 0 15px 25px rgba(0,0,0,.5);
        	border-radius: 10px;
        	font-size:30px;
}

